.Listings .AddOn {
    text-align: justify;
}
.Listings .AddOn li {
    display: inline-block;
    width: 50%;
    font-size:13px;
}
.Listings .w-30{
    width: 30%;
}
@media only screen and (min-width: 769px) {
.Listings .col-md-4 {
    flex: 0 0 32% !important;
}
}
@media only screen and (max-width: 768px) {
    .Listings .w-30 {
        width: 100%;
        margin: 0 15px;
    }

    .Listings .col-md-4 {
        flex: 0 0 100% !important;
    }
}
